<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Autobus nr 123
        </mat-panel-title>
        <mat-panel-description>
            <anms-car-alert></anms-car-alert>
        </mat-panel-description>

    </mat-expansion-panel-header>
  <anms-car></anms-car>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Autobus nr 124
        </mat-panel-title>
        <mat-panel-description>
            <anms-car-alert></anms-car-alert>
        </mat-panel-description>

    </mat-expansion-panel-header>
  <anms-car></anms-car>
</mat-expansion-panel>
