<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Autobus nr 123
        </mat-panel-title>
        <mat-panel-description>
            <anms-car-alert></anms-car-alert>
        </mat-panel-description>

    </mat-expansion-panel-header>
  <div class="container g-0">
    <div class="row g-0">

      <div class="col-1 d-flex justify-content-center flex-row pt-2"><div>></div></div>
      <anms-car class="col-11"></anms-car>
    </div>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Autobus nr 124
        </mat-panel-title>
        <mat-panel-description>
            <anms-car-alert></anms-car-alert>
        </mat-panel-description>

    </mat-expansion-panel-header>
<div class="container g-0">
    <div class="row g-0">

        <div class="col-1 d-flex justify-content-center flex-row pt-2"><div>></div></div>
        <anms-car class="col-11"></anms-car>
    </div>
</div>
</mat-expansion-panel>
