<div class="container g-0">
  <div class="row g-0" *ngFor="let appliance of appliances$ | async">
    <div class="col-1 d-flex justify-content-center pt-2">
      <div>></div>
    </div>
    <mat-expansion-panel class="col-11">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{appliance.title}}
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngFor="let alert of appliance.data">
            <anms-car-alert [data]="data" *ngFor="let data of (alert | async)?.data" ></anms-car-alert>
          </ng-container>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <div class="container">
        <div class="row" *ngFor="let device$ of appliance.data">
          <ng-container *ngIf="device$ | async as device">
            <div class="col-1">
              <anms-car-alert *ngFor="let alert of device.data" [data]="alert"></anms-car-alert>
            </div>
            <div class="col-11">
              {{device?.title}}
              <span class="warning" *ngFor="let alert of device.data"> <span
                class="warning--info">ostrzeżenie</span>: niski stan papieru</span>
            </div>
          </ng-container>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>


