.warning {
  width: 100%;
  height: 100%;
  background-color: #0000ff26;
  &--info {
    text-decoration: underline;
  }
}
//anms-car-alert{
//  width: 30px;
//  height: 30px;
//}

.aaaaaaa {
  width: 200px;
}
